<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"

        android:maxSdkVersion="32" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Onlykids_mobile_application"
        tools:targetApi="31">
        <activity
            android:name="com.example.onlykids_mobile_application.PerformanceReportActivity"
            android:exported="false" />
        <activity
            android:name="com.example.onlykids_mobile_application.Splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.onlykids_mobile_application.preclass_question"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.onlykids_mobile_application.Retry_mistake_memo"
            android:exported="false" />
        <activity
            android:name="com.example.onlykids_mobile_application.Mistake_memo"
            android:exported="false" />
        <activity
            android:name="com.example.onlykids_mobile_application.quizGame_result"
            android:exported="false" />
        <activity
            android:name="com.example.onlykids_mobile_application.start_quiz"
            android:exported="false"></activity>
        <activity
            android:name="com.example.onlykids_mobile_application.quizGame"
            android:exported="false"></activity>
        <activity
            android:name="com.example.onlykids_mobile_application.chatRoom"
            android:exported="false"></activity>
        <activity
            android:name="com.example.onlykids_mobile_application.MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <activity android:name=".PreClassActivity" /> -->
        <!-- <activity android:name=".NotesActivity" /> -->
        <!-- <activity android:name=".MistakeMemoActivity" /> -->
        <!-- <activity android:name=".PerformanceReportActivity" /> -->
        <activity android:name="com.example.onlykids_mobile_application.VideoSearchActivity" />
        <activity android:name="com.example.onlykids_mobile_application.NotesActivity" />
        <activity android:name="com.example.onlykids_mobile_application.ViewNotesActivity" />
        <activity android:name="com.example.onlykids_mobile_application.NoteChatBoxActivity" />
    </application>

</manifest>